pre {
    font-family: Roboto Mono, monospace;

    @include apply-when(desktop) {
        font-size: calc(#{$font-size} / 1.1);
    }
    font-size: calc(#{$font-size} / 1.2);

    max-width: $max-width;
    overflow-x: scroll;
    line-height: $sline-height;

    background-color: var(--background-dark);
    border-top: solid 5px;
    border-bottom: solid 5px;
    border-color: var(--background-darker);

    padding: $ssspace;

    code {
        border: none;
    }
}

code {
    font-family: Roboto Mono, monospace;
    background-color: var(--background-dark);
    border-top: solid 2px;
    border-bottom: solid 2px;
    border-color: var(--background-darker);
}

#git-commit {
    font-size: calc(#{$font-size} / 1.1);
    line-height: $sline-height;
    width: 80%;
    margin: 0 auto;
    color: var(--shadow);


    #git-commit-subject {
        &::before {
            content: "Last Git Commit: "
        }
    }

    #git-commit-body {
        font-size: calc(#{$font-size} / 1.3);
        border: none;
        background-color: var(--background);
    }
}
