.footer {
    border-top: dashed 1px var(--shadow);
    padding-top: $ssspace;
    margin-top: $space;
    line-height: $sline-height;
    font-size: calc(#{$font-size} / 1.3);
    color: var(--shadow);
}
