body {
    color: var(--foreground);
    background-color: var(--background);
    line-height: $line-height;

    @include apply-when(desktop) {
        font-size: calc(#{$font-size} + 4px);
    }

    font-size: $font-size;
    padding: 0;
    margin: 0;
}

#content {
    text-align: justify;

    @include apply-when(desktop) {
        max-width: $max-width;
        margin: 0;
    }
    margin: 0 auto;
    max-width: $smax-width;

    padding-left: $sspace;

    h1 {
        font-family: "UnifrakturMaguntia";
        font-weight: normal;
        font-size: calc(#{$font-size} * 3);
        line-height: $xspace;
        padding-bottom: $sspace;
        border-bottom: dashed 2px;
        border-color: var(--foreground);
        // padding-top: 1rem;
    }
}
