#info-left-outer {
    @include apply-when(desktop) {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: $info-width;

        margin-left: 0;
        padding-left: 0;
    }

    margin: 0 auto;
    max-width: $smax-width;

    padding: 0 $space;

    z-index: 1;

    #info-left-inner {

        @include apply-when(desktop) {
            position: absolute;

            left: $sspace;
            bottom: $sspace;
            right: $sspace;
        }

        left: 0;
        right: 0;

        @include apply-when(desktop) {
            padding-bottom: 0;
        }
        padding-bottom: $space;

        a {

            @include apply-when(desktop) {
                display: block;
            }
            padding: $ssspace;
            display: inline;
            line-height: $xline-height;

            text-decoration: none;
            font-size: calc(#{$font-size} + 4px);
        }

        #info-left-header {
            padding: $space $ssspace;
            display: block;
        }
    }
}

#flexbox {
    @include apply-when(desktop) {
        display: flex;
        margin-left: $info-width;
    }
    display: block;
    margin-left: 0;

    #content {
        @include apply-when(desktop) {
            flex: 0 0 $max-width;
            max-width: $max-width;
        }
        flex: none;
        max-width: $smax-width;

        padding: 0 $space;

        // border-left: dotted 2px gray;
        // border-right: dotted 2px gray;

    }

    #info-right {

        @include apply-when(wide) {
            display: block;
        }
        display: none;

        flex: 1;
        padding-left: $space;
    }
}
