#info-left-outer {
    @include apply-when(desktop) {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 16rem;

        margin-left: 0;
        padding-left: 0;
    }

    margin: 0 auto;
    max-width: 36rem;

    padding: 0 2rem;

    z-index: 1;

    #info-left-inner {

        @include apply-when(desktop) {
            position: absolute;

            left: 1rem;
            bottom: 1rem;
            right: 1rem;
        }

        left: 0;
        right: 0;


        a {

            @include apply-when(desktop) {
                display: block;
                padding: 0;
            }
            padding-right: 1rem;
            display: inline;

            text-decoration: none;
            font-size: 20px;
        }

        #info-left-header {
            padding: 1rem 0;
            display: block;
        }
    }
}

#flexbox {
    @include apply-when(desktop) {
        display: flex;
        margin-left: 16rem;
    }
    display: block;
    margin-left: 0;

    #content {
        @include apply-when(desktop) {
            flex: 0 0 46rem;
            max-width: none;
        }
        flex: none;
        max-width: 36rem;

        padding: 0 2rem;

        // border-left: dotted 2px gray;
        // border-right: dotted 2px gray;

    }

    #info-right {

        @include apply-when(wide) {
            display: block;
        }
        display: none;

        flex: 1;
        padding-left: 2rem;
    }
}
