a {
    color: var(--highlight);
    text-decoration: underline;
    text-decoration-color: var(--foreground-light);
    word-wrap: break-word;
    &:hover {
        color: var(--foreground-dark);
        text-decoration: underline;
        text-decoration-color: var(--foreground-darker);
    }
    &:active {
        color: var(--foreground-darker);
        // TODO : Add a blink effect when clicked
    }
}

#info-left-outer #info-left-inner a {

    @include apply-when(desktop) {
        display: block;
        padding: 0;
    }
    padding-right: 1rem;
    display: inline;

    text-decoration: none;
    font-size: calc(#{$font-size} + 4px);

    &:hover {
        background-color: var(--background-dark);
    }
}
