<!doctype html>
<html lang="en">
  {{ partial "head" . }}
  <body>
    <div id="info-left-outer">
      <div id="info-left-inner">
        <a id="info-left-header" href="{{ .Site.BaseURL }}">Finn Sauer</a>
        {{ range where .Site.RegularPages.ByWeight "Type" "page" }}
          <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
        {{ end }}
      </div>
    </div>
    <div id="flexbox">
      <div id="content">
        {{ block "content" . }}{{ end }}
        {{ partial "footer" . }}
      </div>
      <div id="info-right">
        {{/* partial "last-five-entries" . */}}
      </div>
    </div>
  </body>
</html>
