<div class="footer">
  Copyright © 2020-{{ now.Format "2006" }} Finn Sauer &mdash; Creative work
  is licensed under the
  <a href="https://creativecommons.org/licenses/by-sa/4.0/">
    Creative Commons BY-SA 4.0</a>; source code is licensed under the
  <a href="https://www.gnu.org/licenses/quick-guide-gplv3.html">
    GNU Public License Version 3.0 or later</a>.  For more information refer to the
  <a href="{{ .Site.BaseURL }}/license">
    license page</a>.
  This website is
  <a href="https://www.gnu.org/philosophy/free-sw.html">
    free and open source software</a>.  For more information refer to the
  <a href="{{ .Site.BaseURL }}/about">
    about page</a>.
</div>
