<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{ $style := resources.Get "scss/master.scss" }}
  {{ $style := $style | toCSS | fingerprint | resources.Minify }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" type="text/css" />
  <link type="application/atom+xml"
        rel="alternate"
        href="{{ .Site.BaseURL }}/blog/index.xml"
        title="Finn Sauer: Blog">
  <title>{{ .Page.Title }} | {{ .Site.Title }}</title>
</head>
