.blog-list {
    list-style-type: none;
    padding: 0 $sspace;

    li {
        display: flex;
        justify-content: space-between;

        a {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;

        }

        .blog-date {
            padding-left: $ssspace;
            flex: none;
            color: var(--shadow);
        }
    }
}
