#git-commit {
    font-size: calc(#{$font-size} / 1.1);
    line-height: $sline-height;

    @include apply-when(desktop) {
        width: 80%;
    }
    width: 90%;

    margin: 0 auto;
    color: var(--shadow);

    #git-commit-header {
        padding-bottom: 0.5rem;
        font-size: calc(16px/1.5);
    }

    #git-commit-body {
        @include apply-when(desktop) {
            font-size: calc(#{$font-size} / 1.3);
        }
        font-size: calc(#{$font-size} / 1.4);

        margin-top: 0;
        margin-bottom: $sspace;
        border: none;
        background-color: var(--background);
        white-space: pre-wrap;
    }
}
