body {
    color: var(--foreground);
    background-color: var(--background);
    line-height: $line-height;

    padding: 0;
    margin: 0;
}

#content {
    text-align: justify;

    @include apply-when(desktop) {
        max-width: $max-width;
        margin: 0;
    }
    margin: 0 auto;
    max-width: $smax-width;

    padding-left: $sspace;

    h1 {
        text-align: left;
        line-height: $xspace;
        padding-bottom: $sspace;
        border-bottom: dashed 2px;
        border-color: var(--foreground);
        // padding-top: 1rem;
    }
}

.date {
    color: var(--shadow);
    padding-left: $sspace;
}
